/*
    font-family: 'Raleway', sans-serif;

    font-family: 'Lato', sans-serif;
*/
* {
   box-sizing: border-box;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.body {
   font-size: 16px;
   font-family: font-family: 'Lato', sans-serif;
   background-color: #fafcfc;
}

.wrapper {
   background-color: #fafcfc;
   position: relative;
}

.top--header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   -webkit-box-pack: start;
   justify-content: flex-start;
   max-width: 1170px;
   margin: auto;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-bottom: 1px solid #ebebeb;
   padding: 25px 30px 15px 15px;
   background-color: #fafcfc;
}

.top--logo {
   display: flex;
   align-items: center;
   margin-right: auto;
}

.logo--title,
.top--menu-ul a {
   color: #656973;
   font-size: 15px;
   font-weight: 600;
   margin-left: 15px;
}

.top--menu-ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: none;

}

/* menuFour */
.menuFour {
   width: 35px;
   height: 30px;
   margin: 10px 15px;
   position: relative;
   cursor: pointer;
   display: inline-block;
}

.menuFour span {
   background-color: #666666;
   position: absolute;
   border-radius: 2px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menuFour span:nth-child(1) {
   width: 100%;
   height: 4px;
   display: block;
   top: 0px;
   left: 0px;
}

.menuFour span:nth-child(2) {
   width: 100%;
   height: 4px;
   display: block;
   top: 13px;
   left: 0px;
}

.menuFour span:nth-child(3) {
   width: 100%;
   height: 4px;
   display: block;
   bottom: 0px;
   left: 0px;
}

.menuFour:not(.clickMenuFour):hover span:nth-child(1) {
   width: 100%;
   height: 4px;
   display: block;
   top: -2px;
   left: 0px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menuFour:not(.clickMenuFour):hover span:nth-child(2) {
   width: 100%;
   height: 4px;
   display: block;
   top: 13px;
   left: 0px;
   transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}

.menuFour:not(.clickMenuFour):hover span:nth-child(3) {
   width: 100%;
   height: 4px;
   display: block;
   bottom: -2px;
   left: 0px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.clickMenuFour {
   transform: rotate(90deg);
}

.clickMenuFour span:nth-child(1) {
   left: 3px;
   top: 12px;
   width: 30px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
   transform: rotate(90deg);
   transition-delay: 150ms;
}

.clickMenuFour span:nth-child(2) {
   left: 2px;
   top: 20px;
   width: 20px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
   transform: rotate(45deg);
   transition-delay: 50ms;
}

.clickMenuFour span:nth-child(3) {
   left: 14px;
   top: 20px;
   width: 20px;
   transition: .3s cubic-bezier(.8, .5, .2, 1.4);
   transform: rotate(-45deg);
   transition-delay: 100ms;
}

.top--section {
   background: url(../img/dotted.png) no-repeat 100% 66%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   flex-wrap: wrap;
   padding: 180px 0 60px 0;
}

.top--section img {
   max-width: 585px;
   width: 100%;

}

.top--section-title {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 127px;
   margin-right: 130px;
   max-width: 450px;
}

.wrap-title {
   display: flex;
   flex-wrap: wrap;
   border-left: 5px solid #18a3dd;
   padding-left: 30px;
}

.section--tiile-sup {
   font-family: 'Raleway', sans-serif;
   font-size: 72px;
   color: #333740;
   font-weight: 900;
   flex-basis: 100%;
   text-transform: uppercase;
}

.section--tiile-mid {
   font-family: 'Raleway', sans-serif;
   font-weight: 900;
   font-size: 24px;
   color: #333740;
   flex-basis: 100%;
}

.section--tiile-sub {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   color: #7a7a7a;
   flex-basis: 100%;
   padding: 73px 0 50px;
}

.section--tiile-btn {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
   background-color: #18a3dd;
   max-width: 180px;
   padding: 20px 37px;
   border-radius: 25px;
   cursor: pointer;
   margin-right: 25px;
}

.video--btn {
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   color: #333740;
}

.video--btn:after {
   content: '\ea42';
   font-family: 'icomoon';
   color: #18a3dd;
   margin-left: 5px;
   vertical-align: bottom;
}

.block-sale {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 121px 0 141px;
   max-height: 590px;
   position: relative;
}

.wr--ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #160e1f;
   width: 100%;
   min-height: 350px;
}

.block-sale img {
   position: absolute;
   top: 0;
}

.block-sale ul {
   color: #fff;
}

.block-sale ul li:first-child {
   border-left: 5px solid #18a3dd;
   font-size: 72px;
   font-weight: 700;
   border-radius: 1px;
   font-family: 'Lato', sans-serif;
   color: #fff;
   text-transform: uppercase;
   line-height: 0.333;
}

.text-li {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   color: #18a3dd;
   margin: 25px 0 13px;
}

.text--li-sub {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   color: #fff;
   text-transform: capitalize;
}

.block--up-offer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 77px;
}

.div--fetures {
   font-size: 30px;
   font-family: "Raleway";
   text-transform: uppercase;
   line-height: 0.733;
   color: #333740;
}

.fetures {
   font-size: 30px;
   font-family: "Raleway";
   font-weight: bold;
   text-transform: uppercase;
   border-right: 1px solid #18a3dd;
   padding-right: 20px;
   margin-right: 20px;
}

.fetures--title {
   font-family: 'Lato', sans-serif;
   font-weight: lighter;
   font-size: 16px;
   color: #83888f;
   line-height: 3;
}

.block--sub-offer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.sub--offer-wr {
   width: 360px;
   max-width: auto;

}

.offer-wr {
   margin-bottom: 80px;
}

.offer--text-left,
.offer--text-right {
   font-size: 20px;
   font-family: "Raleway";
   color: #333740;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.2;
   margin-bottom: 17px;
}

.offer--text-left {
   border-right: 5px solid #18a3dd;
   text-align: end;
   padding-right: 25px;
}

.offer--text-right {
   border-left: 5px solid #18a3dd;
   padding-left: 25px;
}

.text-title-sub {
   font-size: 20px;
   color: #5b5f64;
}

.offer-section-img {
   margin: 0 90px;
}

.top--item-1 {
   background-image: url(../img/top-item-1.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;

}

.top--item-2 {
   background-image: url(../img/top-item-2.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
}

.top--item-3 {
   background-image: url(../img/top-item-3.jpg);
   background-position: top center;
   background-repeat: no-repeat;
}

.top--item-fon {
   background-color: rgba(0, 0, 0, .55);
   height: 100vh;
}

.slick-next {
   position: absolute;
   top: 50%;
   right: 20px;
   z-index: 15;
   height: 55px;
   width: 55px;
   font-size: 0;
   background-color: transparent;
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   outline: none;
   cursor: pointer;
   border-radius: 15%;
}

.slick-next::before {
   content: '\e901';
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-family: 'icomoon';
   font-size: 30px;
   color: #fff;
   border-radius: 50%;
}

.slick-prev {
   position: absolute;
   top: 50%;
   left: 20px;
   z-index: 15;
   height: 55px;
   width: 55px;
   font-size: 0;
   background-color: transparent;
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   outline: none;
   cursor: pointer;
   border-radius: 15%;
}

.slick-prev::before {
   content: '\e902';
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-family: 'icomoon';
   font-size: 30px;
   color: #fff;
   border-radius: 50%;
}
